.fp-section {
    padding: 120px 0 65px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $black;

    @media (max-width: 1600px) {
        padding: 90px 0 55px;
    }

    @media (max-width: 1200px) {
        padding: 80px 0;
        height: auto!important;
    }

    @media (max-width: 767px) {
        padding: 60px 0;
    }

    &-title {
        height: 20%;
        background-color: $black;

        h2,
        h1 {
            display: inline-block;
            vertical-align: middle;
            font-size: 48px;
            text-transform: uppercase;
            color: #fff;
            font-weight: normal;

            @media (max-width: 1600px) {
                font-size: 42px;
            }

            @media (max-width: 1200px) {
                font-size: 36px;
            }
        }

        &--light {
            background-color: #f3f3f3;
            h1, h2 {
                color: $black;
            }
        }

        .wrapper-fluid {
            height: 100%;
            position: relative;
            z-index: 1;

            &:after {
                content: '';
                width: 0;
                margin-left: -4px;
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
        }
        
    }


    .fp-section-title {
        @media (max-width: 1200px) {
            padding-bottom: 80px;
            height: auto;
        }

        @media (max-width: 767px) {
            padding-bottom: 60px;
        }
    }
}

/* main-screen */
.main-screen {
    position: relative;
    text-align: center;

    @media (max-width: 1200px) {
        padding-top: 90px;
    }

    @media (max-width: 767px) {
        padding-top: 60px;
    }


    h1 {
        font-size: 72px;
        font-weight: normal;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        padding-top: 150px;

        strong {
            font-weight: bold;
        }

        @media (max-height: 950px) and (min-width: 1200px) {
            font-size: 64px;
            padding-top: 120px;
        }

        @media (max-height: 850px) and (min-width: 1200px) {
            font-size: 60px;
            padding-top: 100px;
        }

        @media (max-height: 750px) and (min-width: 1200px) {
            font-size: 56px;
            padding-top: 75px;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
            font-size: 50px;
            padding-top: 50px;
        }
        @media (max-height: 650px) and (min-width: 1200px) {
            font-size: 46px;
            padding-top: 40px;
        }

        @media (max-width: 1200px) {
            font-size: 56px;
            padding-top: 80px;
        }

        @media (max-width: 991px) {
            font-size: 50px;
        }

        @media (max-width: 767px) {
            font-size: 44px;

            br {
                display: none;
            }
        }

        @media (max-width: 550px) {
            font-size: 38px;
        }

        @media (max-width: 400px) {
            font-size: 32px;
        }
    }

    .user-area {
        position: absolute;
        bottom: 100px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;

        @media (max-height: 700px) and (min-width: 1200px) {
            bottom: 70px;
        }

        @media (max-width: 1200px) {
            position: static;
            -webkit-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
            margin-top: 80px;
        }

        &-control {
            background-color: transparent;
            opacity: 0.6;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            border: 0;
            cursor: pointer;
            font-size: 17px;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
            text-align: center;
            padding: 0;
            margin: 0 125px;

            @media (max-width: 991px) {
                margin: 0 80px;
            }

            @media (max-width: 767px) {
                margin: 0 40px;
            }

            @media (max-width: 550px) {
                margin: 0 15px;
            }

            &:hover {
                opacity: 1;
            }

            img {
                display: block;
                margin: 0 auto;
                height: 114px;
                width: auto;

                @media (max-width: 1600px) {
                    height: 90px;
                }
            }

            span {
                display: block;
                width: 100px;
                margin: 0 auto;
                padding-top: 10px;
            }
        }
    }
}



/* industries section */
.industries {
    @media (max-width: 1200px) {
        padding-bottom: 0;
    }

    .tiles {
        height: 80%;
        margin: 0;

        @media (max-width: 1200px) {
            height: auto;
        }

        .industries-tile {
            width: 20%;
            height: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            position: relative;
            z-index: 1;
            overflow: hidden;

            @media (max-width: 1200px) {
                width: 33.33%;
                height: 220px;

                &:last-child {
                    width: 100%;
                }
            }

            @media (max-width: 767px) {
                width: 50%;

                &:last-child {
                    width: 50%;
                }
            }

            @media (max-width: 550px) {
                height: 180px;
            }

            @media (max-width: 450px) {
                height: 140px;
            }

            &:after {
                content: '';
                width: 100%;
                height: 100%;
                background-color: $black;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                top: 0;
                left: 0;
                z-index: -1;
                position: absolute;

                @media (max-width: 1200px) {
                    opacity: 0.5;
                    visibility: visible;
                }
            }

            @include flex($alignI: center, $justify: center);
            
            figure {
                height: 50px;
                width: 100%;
                margin: 0;

                @media (max-width: 550px) {
                    height: 40px;
                    margin-bottom: 10px;
                }
            }
            img {
                display: block;
                margin: 0 auto;
                max-height: 100%;
                line-height: 50px;

                @media (max-width: 550px) {
                    line-height: 40px;
                }
            }

            .label {
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                display: block;
                text-align: center;
                padding: 0 10px;
                font-size: 24px;

                @media (max-width: 1200px) {
                    font-size: 20px;
                }

                @media (max-width: 550px) {
                    font-weight: normal;
                    font-size: 16px;
                }

                @media (max-width: 450px) {
                    font-size: 14px;
                }
            }

            .tile-info {
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;

                @media (max-width: 1200px) {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &:hover {
                .tile-info {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &:hover:after {
                opacity: 0.8;
                visibility: visible;
            }
        }


    }
}


/* job-offers section */
.job-offers {
    @media (max-width: 1200px) {
        padding-bottom: 0
    }

    .tiles {
        height: 80%;
        margin: 0;

        @media (max-width: 1200px) {
            height: auto;
        }
    }

    &-tile {
        height: 33.33%;
        width: 25%;
        position: relative;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        @media (max-width: 1200px) {
            height: 160px;
            width: 33.33%;
        }

        @media (max-width: 767px) {
            width: 50%;
        }

        @media (max-width: 450px) {
            height: 120px;
        }

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            background-color: $black;
            opacity: 0.8;
            -webkit-transition: opacity 0.3s ease;
            -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }

        &:hover:after {
            opacity: 1;
        }

        .tile-info {
            width: 100%;
            height: 100%;
            padding: 0 45px;
            @include flex($alignI: center);

            @media (max-width: 991px) {
                padding: 0 20px;
            }

            @media (max-width: 450px) {
                padding: 0 10px;
            }

            .label {
                -webkit-flex: 1 1 auto;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                font-size: 24px;
                padding-right: 15px;
                font-weight: bold;
                color: #fff;
                width: -webkit-calc(100% - 30px);
                width: calc(100% - 30px);

                @media (max-width: 600px) {
                    font-size: 20px;
                    font-weight: normal;
                }

                @media (max-width: 450px) {
                    font-size: 16px;
                    padding-right: 5px;
                }
            }

            .total-count {
                width: 30px;
                font-size: 24px;
                color: #fff;
                font-weight: normal;
                text-align: right;
            }
        }
    }
}


.more-link {
    position: absolute;
    top: 50%;
    right: 100px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;

    @media (max-width: 1600px) {
        right: 10px;
    }

    svg {
        margin-left: 10px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        polyline {
            fill:none;
            stroke:#fff;
            stroke-linecap:round;
            stroke-linejoin:round;
            stroke-miterlimit:10;
        }
    }

    &:hover svg {
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }
}


.blog {
    @media (max-width: 1200px) {
        padding-bottom: 0;
    }
}
.fp-blog {
    height: 80%;
    position: relative;

    @media (max-width: 1200px) {
        @include flex($alignI: stretch);
        padding-bottom: 0;
    }

    &--static {
        height: auto;
        &:after {
            content: "";
            display: block;
            padding-top: 37%;
            pointer-events: none;
            position: relative;
            z-index: -1;

            @media (max-width: 1200px) {
                display: none;
            }
        }
    }
    

    &-news {
        display: block;
        float: left;
        height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
        z-index: 1;
        @include flex($alignI:center);
        overflow: hidden;

        @media (max-width: 1200px) {
            width: 50%;
            height: auto;
            position: relative;
            float: none;
            padding-top: 30px;
            padding-bottom: 30px;

            &:last-child {
                display: none;
            }
        }

        @media (max-width: 767px) {
            width: 100%;

            &:last-child {
                display: block;
            }
        }

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: -1;
            opacity: 0.2;

            @media (max-width: 1200px) {
                opacity: 0.6;
            }
        }

        &:hover:after {
            opacity: 0.8;
        }
        

        @media (min-width: 1201px) {
            &:nth-child(1) {
                left: 0;
                width: 30%;
                top: 0;
            }
            &:nth-child(2) {
                left: 30%;
                width: 40%;
                top: 0;
            }
            &:nth-child(3) {
                width: 30%;
                height: 100%;
                right: 0;
                top: 0;
            }
            &:nth-child(4) {
                left: 0;
                bottom: 0;
                width: 50%;
            }
            &:nth-child(5) {
                left: 50%;
                bottom: 0;
                width: 20%;
            }    
        }
        


        .post-preview {
            width: 100%;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            color: #fff;
            padding: 0 30px;
            opacity: 0;
            visibility: hidden;

            @media (max-width: 1200px) {
                opacity: 1;
                visibility: visible;
            }
        }

        &:hover .post-preview {
            opacity: 1;
            visibility: visible;
        }

        time {
            font-size: 16px;
            font-weight: normal;
            display: block;
            margin-bottom: 25px;
        }

        h3 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .excerpt {
            font-size: 18px;
            font-weight: normal;
        }

        .read-more {
            font-size: 16px;
            margin-top: 25px;
            display: block;
        }


        @media (max-height: 900px) and (min-width: 1200px), (max-width: 1200px) {
            time {
                margin-bottom: 15px;
                font-size: 15px;
            }

            h3 {
                font-size: 20px;
                margin-bottom: 5px;
            }

            .excerpt {
                font-size: 16px;
            }

            .read-more {
                font-size: 15px;
                margin-top: 15px;
            }
        }

        @media (max-height: 800px) and (min-width: 1200px), (max-width: 991px) {
            time {
                font-size: 14px;
                margin-bottom: 10px;
            }
            h3 {
                font-size: 18px;
            }
            .excerpt {
                font-size: 15px;
            }
            .read-more {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}


.navigation {
    @include flex($alignI: center);
    padding-bottom: 0;

    @media (max-width: 1200px) {
        padding-bottom: 80px;
    }

    @media (max-width: 767px) {
        padding-bottom: 60px;
    }

    .site-footer {
        padding: 0;
        width: 100%;
        background-color: transparent;
    }
}



/* fullpage footer */
.fullpage-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 65px;
    background-color: $black;
    color: $white;
    font-size: 20px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;

    @media (min-width: 1601px) {
        border-style: solid;
        border-width: 0 100px 0 100px;
        border-color: transparent;

        .wrapper {
            width: 100%;
            padding: 0;
        }
    }

    @media (max-width: 1600px) {
        height: 55px;
        font-size: 18px;
    }

    @media (max-width: 1200px) {
        font-size: 14px;
        height: 45px;
    }

    @media (max-width: 991px) {
        [class*='col-'] {
            width: 33.33%;
        }

        .email {
            display: none;
        }
    }

    @media (max-width: 600px) {
        [class*='col-'] {
            width: 50%;
        }
        .phone {
            display: none;
        }
    }

    a {
        color: inherit!important;
    }

    .wrapper {
        height: 100%;
    }

    .flex-row {
        height: 100%;
    }


    .phone {
        text-align: left;

        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            width: 35px;

            @media (max-width: 1600px) {
                width: 28px;
            }

            @media (max-width: 1200px) {
                width: 18px;
            }
        }

        a {
            display: inline-block;
            vertical-align: middle;
            margin-top: 4px;
        }
    }


    .email {
        text-transform: uppercase;

        .fa {
            font-size: 28px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;

            @media (max-width: 1600px) {
                font-size: 24px;
            }

            @media (max-width: 1200px) {
                font-size: 18px;
            }
        }

        a {
            display: inline-block;
            vertical-align: middle;
            margin-top: 4px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &:hover {
                color: #fff;
            }
        }
    }

    .follow {
        font-size: 18px;
        font-weight: bold;
        margin-top: 4px;

        @media (max-width: 1200px) {
            font-size: 14px;
        }

        span {
            margin-right: 10px;
        }

        .fa {
            margin-right: 4px;
        }

        a {
            display: inline-block;
        }
    }

    .request {
        text-align: right;

        .send-request {
            background-color: $white;
            border: 0;
            font-weight: 300;
            height: 35px;
            text-transform: uppercase;
            color: $black;
            cursor: pointer;
            width: 300px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            padding: 0;

            &:hover {
                background-color: #fff;
            }

            @media (max-width: 1600px) {
                width: 100%;
            }

            @media (max-width: 991px) {
                height: 30px;
                font-size: 14px;
            }
        }
    }
}


.fp-viewing-navigation .fullpage-footer {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
}