.flex-reverse {
    @include flex();
    > div {
        @include flex();
    }
    > div:nth-child(2n) {
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
}

div.illustrated-info {
    @include flex($alignI : stretch);
    width: 100%;
    &__text {
        width: 35%;
        background-color: $black;
        color: #FFF;
        @media (max-width: 1600px) {
            width: 40%;
            padding-left: calc(50% - 590px);
            padding-left: -webkit-calc(50% - 590px);
            padding-right: 60px;
        }
        @media (max-width: 1200px) {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
        p {
            margin-bottom: 20px;
            font-weight: 300;
            &:last-child {
                margin-bottom: 0;
            }
        }
        h1 {
            font-size: 48px;
            margin-bottom: 40px;
            font-weight: normal;
            text-transform: uppercase;
            @media (max-width: 1500px) {
              font-size: 40px;
            }
            @media (max-width: 800px) {
              font-size: 32px;
              margin-bottom: 20px;
            }
        }
        h2 {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 25px;
            @media (max-width: 1500px) {
              font-size: 18px;
            }
            @media (max-width: 800px) {
                font-size: 16px;
            }
        }
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            margin-right: -2px;
        }
        > div {
            display: inline-block;
            vertical-align: middle;
            padding: 65px 90px;
            max-width: 98%;
            @media (max-width: 1600px) {
                padding: 45px 0;
            }
            @media (max-width: 600px) {
                padding: 25px 0;
            }
        }
    }
    &__img {
        width: 65%;
        background-position: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;

        @media (max-width: 1600px) {
            width: 60%;
        }
        @media (max-width: 1200px) {
            width: 100%;
        }
        &:after {
            content: "";
            display: block;
            padding-top: 45%;
            @media (max-width: 1200px) {
                padding-top: 40%;
            }
        }
    }
    &:nth-child(2n) {
        .illustrated-info__text {
            background-color: #FFF;
            color: $black;

            @media (max-width: 1600px) {
                padding-right: calc(50% - 590px);
                padding-right: -webkit-calc(50% - 590px);
                padding-left: 60px;
            }

            @media (max-width: 1200px) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}
