.vacancy {
    background-color: #FFF;
    padding: 0;
    @include flex($alignI: stetch);
    font-size: 24px;
    font-weight: 700;
    color: $black;
    margin-bottom: 20px;
    @include transition(all, .4s);
    &:hover {
        background-color: $black;
        color: #FFF;
    }
    > div {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    > div:nth-of-type(1) {
        width: 21%;
        padding-left: 75px;
    }
    > div:nth-of-type(2) {
        width: 21%;
    }
    > div:nth-of-type(3) {
        width: 17%;
    }
    > div:nth-of-type(4) {
        width: 17%;
    }
    > a:nth-child(5),
    > div:nth-of-type(5) {
        width: 22%;
    }
    span {
        display: none;
    }
    .vacancy-picture {
        padding-top: 0;
        padding-bottom: 0;
        background-color: $black;
        padding-right: 75px;
        text-align: right;
        position: relative;
        display: block;
        img {
            display: block;
            height: 100%;
        }
        svg,
        span {
            color: #FFF;
            position: absolute;
            right: 0;
            z-index: 2;
            top: 50%;
            right: 25%;
            display: block;
            @include transition(all, .4s);
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                 -o-transform: translateY(-50%);
                    transform: translateY(-50%);
        }
        span {
            font-weight: 700;
            font-size: 24px;
            text-transform: uppercase;
            visibility: hidden;
            opacity: 0;
        }
        svg {
            polyline {
            fill: none;
            stroke: #fff;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            }
        }
        &:hover {
            svg {
                opacity: 0;
                visibility: hidden;
            }
            p span {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.vacancies-single {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #FFF;
    .vacancy {
        padding-top: 30px;
        position: relative;
        > div:nth-of-type(1) {
            width: 18%;
            padding-left: 0px;
        }
        > div:nth-of-type(2) {
            width: 18%;
        }
        > div:nth-of-type(3) {
            width: 17%;
        }
        > div:nth-of-type(4) {
            width: 17%;
        }
        > a:nth-child(5),
        > div:nth-of-type(5) {
            width: 28%;
        }
        > div {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        &:hover {
            background-color: #fff;
            color: $black;
        }
        .vacancy-picture {
            padding: 0;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .socials {
            position: absolute;
            left: 0;
            top: 155px;
        }
    }
    .table-heading {
        > div:nth-of-type(1) {
            width: 18%;
            padding-left: 0px;
        }
        > div:nth-of-type(2) {
            width: 18%;
        }
        > div:nth-of-type(3) {
            width: 17%;
        }
        > div:nth-of-type(4) {
            width: 17%;
        }
        > a:nth-child(5),
        > div:nth-of-type(5) {
            width: 28%;
            padding-right: 0;
            p {
                float: right;
                text-align: right;
                font-weight: 400;
                span {
                    display: block;
                }
            }
        }
    }
}

.table-heading {
    padding: 12px 0;
    font-size: 16px;
    font-weight: 300;
    @include flex($alignI: stetch);
    > div:nth-of-type(1) {
        width: 21%;
        padding-left: 75px;
    }
    > div:nth-of-type(2) {
        width: 21%;
    }
    > div:nth-of-type(3) {
        width: 17%;
    }
    > div:nth-of-type(4) {
        width: 17%;
    }
    > div:nth-of-type(5) {
        width: 22%;
        padding-right: 75px;
    }
}

.vacancy-info {
    padding-bottom: 65px;
    background: #f3f3f3;
    h1 {
        font-weight: 300;
        font-size: 40px;
        span {
            display: block;
            font-size: 24px;
            font-weight: 300;
        }
    }
    h3 {
        font-weight: 300;  
        margin-top: 60px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    p, li {
        font-size: 16px;
        font-weight: 300;
    }
    ul {
        list-style-type: none;
        li {
            display: block;
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 6px;
                width: 12px;
                height: 1px;
                background-color: #1A1A1A;
                margin-top: -2px;
            }
        }
    }
}

.socials {
    a {
        display: inline-block;
        vertical-align: middle;
        color: $black;
        margin: 0 4px;
    }
}